html,
body {
    background-image: url("https://lh3.googleusercontent.com/SY6uPlM-BYEpucyn-hj5Md7hyuRqcIlcco10svNyC_vFxEdHfXFvASUSqVNC9R5KVFYpBOBw9Z15rsZ0KezfKy3840lj18LkQU9p5PdQov9GObcs1qHzwd-te4G6hjrfDDIZciJWrh9jrVyFkwG0ZzMhI_FwdY-yBvG4YZXui5HTZRSLvFAsgIhDG7clCHd955VYqccDycxwef5j_2N7qd3MDYRgFvPQq3Pa0i162cMQxU4vfzHOV1AyPL69KrUOGw0YGa0dcs0yVbFT58-zXJWFGyWXXduwUipo1ObcTCBF3K_HM9AcTilQUCe4uYy9MRYzo5CxU3ycB9R5DWoJEUS6y3obWTCEqak3VwBxnXdcg33sXvyMFseO-wHIgUicnDnBXk6pxkZv1UrE7GRerTaq_mxSEU3-jswMJwDkEtjtP4-a2v9jzBNq2pbySL7PSz2AdAq_bMxHqp-IlDVtBR_FPe5OweD8mUksluqBBmzLyqB2ZULPSYKlrvWIcqvPB4Y0XQPmK-ImBOHzOZrCiJdDG8onZvHXdjMufB0uWBDFc-PL4eaEZIrRkicJHoqxIDRTHXDjakyUJxHrWz2BsuGck8WxS_uQwf-NtQ=w1828-h1028-no");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Numans", sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 500px;
    margin-top: 70px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.card-header {
    margin-bottom: 20px;
}
.card-header h3 {
    color: white;
}
.card-body {
    margin-left: 20px;
    margin-bottom: -10px;
}

.d-flex.justify-content-center.links {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #28a745;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}
.remember {
    color: white;
}
.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.form-check-label {
    color: white;
    margin-left: 40px;
}

.login_btn {
    color: black;
    background-color: #28a745;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}
